@import url("https://fonts.googleapis.com/css?family=Outfit:600");

body, html {
    font-family: "Outfit";
    padding: 0;
    margin: 0;
    color: white;
}


header {
    width: 100%;
    height: 50px;
    background-color: #333;
    margin: 0;
    padding-bottom: 20px;
    padding-left: 10px;
}

.container {
    display: flex;
    background-color: blue;
    flex-wrap: wrap;
    align-content: flex-start;
}

/* Content holds main and sidebar */
.content {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
}

.sidebar, .main {
    margin: 10px 0px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar {
    flex: 1;
    padding: 0px;
    margin: 0;
    background-color: #333;
    min-height: 1000px;
}

.button {
    background-color: #333;
    padding: 20px;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    min-width: 100px;
}

.button a {
    text-decoration: none;
    color: white;
}

.button_slide {
    box-shadow: inset 0 0 0 0 #4CAF50;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

  .slide_right:hover {
    box-shadow: inset 400px 0 0 0 #4CAF50;
}

/* Main holds main-header, devices, and device form */
.main {
    background-color: #f9f9f9;
    margin: 0;
    padding-left: 10px;
    flex: 4;
}

.main-header {
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Nodes holds each node */
.nodes {
    background-color: #f9f9f9;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    text-align: center;
    margin: 0;
    padding: 0;
}

.node {
    background-color: #f9f9f9;
    color: #444;
    border-radius: 30px;
    width: 150px;
    height: 150px;
    margin: 10px;
    padding: 10px;
    border-style: solid;
}

.remove-device-button {
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    border-style: none;
    background-color: #f9f9f9;
}

.remove-device-button:hover {
    color: red;
}

.node h3 {
    margin: 0px;
}

/* Device form holds the form */
  .device-form {
    display: none;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    background-color: #f9f9f9;
    color: #444;
}

.form-flex {
    background-color: #f9f9f9;
    width: 150px;
    height: 150px;
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
    border-style: solid;
}

.form-flex li input {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 20px;
}

#add-device-button {
    font-size: 48px;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    border-style: none;
    background-color: #f9f9f9;
}

#add-device-button:hover {
    color: grey;
}

#active {
    background-color: #3f8f41;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

/* Adjust for mobile devices */
@media (max-width: 600px) {
    header {
        text-align: center;
        padding-bottom: 10px;
    }

    .content {
        flex-direction: column-reverse;
    }

    .sidebar {
        display: flex;
        min-height: 100px;
        max-height: 150px;
        flex-flow: row wrap;
        justify-content: center;
    }

    .button {
        margin-top: 20px;
    }
  }
