body, html {
    font-family: "Outfit";
    padding: 0;
    margin: 0;
    color: white;
}


header {
    width: 100%;
    display: flex;
    height: 50px;
    background-color: #333; /*#333*/
    padding-bottom: 20px;
    padding-left: 10px;
}

div {
    display: flex;
    justify-content: center;
}

.default {
   visibility: visible; 
}

.slidecontainer {
    display: none;
}

.hiddenImages {
    display: none;
    height: 400;
    width: 400;


}
.displayImages {
    display: flex;
    height: 400;
    width: 400;
    align-content: center;
}


.PlayBTN {
    visibility: hidden;
}
.PauseBTN {
    visibility: hidden;
}